{% extends 'base.tmpl' %}

{% block app_content %}
  <h1>Search the archive</h1>

  <p>
    Show only networks with:<br>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
	{{ form.tags.label }}
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">
	    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
	  </span>
	  {{ form.tags(size=32) }}
	</div>
      </p>
      <p>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">
	    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
	  </span>
	  {{ form.add_tag(size=5) }}
	</div>
      </p>
      <p>
	{{ form.metadata.label }}<br>
	{{ form.metadata(size=32) }}
      </p>
      <p>
	Add metadata constraint: {{ form.add_meta_key(size=5) }} {{
	form.add_meta_value(size=10) }}
      </p>
      <p>
	{{ form.refine() }} &nbsp; {{ form.reset() }}
      </p>
    </form>
  </p>

  <div class="panel panel-info" style="width: 45em;">
    <div class="panel-heading">
      <label for="networks">{{ networks|length }} networks match these criteria</label>
    </div>
    <div class="panel-body">
      <table class="table">
	<thead>
	  <tr>
	    <th scope="col">Title</th>
	    <th scope="col">Owner</th>
	    <th scope="col">Tags</th>
	  </tr>
	</thead>
	<tbody>
	  {% for n in networks %}
	    <tr>
	      <td>
		{% if n.title != '' %}
		  <a href="{{ url_for('archive.edit', id=n.id) }}">{{n.title}} ({{ n.id }})</a>
		{% else %}
		  <a href="{{ url_for('archive.edit', id=n.id) }}">{{ n.id }}</a>
		{% endif %}
	      </td>
	      <td>{{ n.owner.email }}</td>
	      <td>
		{% with tags = n.tagnames() %}
		  {%if tags %}
		    <div class="btn-group" role="group" aria-label="tags">
		      {% for tag in tags %}
			<button type="button" class="btn btn-default">{{ tag }}</button>&nbsp;
		      {% endfor %}
		    </div>
		  {% endif %}
		{% endwith %}
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
{% endblock %}
