{% extends 'base.tmpl' %}

{% block app_content %}
  <h1>Sign in</h1>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">@</span>
	{{ form.email(size=48) }}
      </div>
      {% for error in form.email.errors %}
	<span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">
	  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
	</span>
	{{ form.password(size=48) }}
      </div>
      {% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
