{% extends 'base.tmpl' %}

{% block app_content %}
  <h1>User profile for {{ profile.user.email }}</h1>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">
	  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	</span>
	{{ form.name(size=64) }}
	</div>
    </p>
    <p>
      {{ form.affiliation.label }}
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">
	  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	</span>
	{{ form.affiliation(size=64) }}
      </div>
    </p>
    <p>
      {{ form.url.label }}
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">
	  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
	</span>
	{{ form.url(size=32) }}
	</div>
    </p>
    <p>
      {{ form.bio.label }}
      <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">
	  <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
	</span>
	{{ form.bio(rows="8", cols="48") }}
	</div>
    </p>
    <p>
      {{ form.submit() }} &nbsp; {{ form.cancel() }}
    </p>
    <hr>
    <p>
      Your API key is {{ user.api_key }}
      (expires {{ user.api_key_expires.isoformat(timespec='seconds') + 'Z' }}).
    </p>
    <p>
      {{ form.api_key() }}
  </form>
{% endblock %}
